.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.6;
}

html,
body {
    font-size: 14px;
    background: #e1e9ee;
    direction: rtl;
    text-align: right;
}

.btn-apply {
    background: #0073b1;
}

.btn-apply {
    background: transparent;
    color: #0073b1;
    border: 1px solid #0073b1;
}

.btn-apply:hover {
    background: transparent;
    color: #0073b1;
    border: 1px solid #0073b1;
}

.dropdown-menu {
    text-align: right;
}

.dropdown-item {
    padding: .5rem 1.5rem;
}

.border-bottom-light{
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

img.logo {
    width: 80px;
}

.card .card-body:not(:first) {
    padding-top: 0;
}

.card .card-body:not(:last-child) {
    padding-bottom: 0;
}


/*
    sidebar 
*/
#sidebar {
    z-index: 1040;
    position: fixed;
    right: 0;
    width: 260px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top: 0;
    margin-right: -304px;
    border-left: 1px solid #eee;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    z-index: 1041;
  }
  
  .toggled {
    padding-left: 0;
  }
  
  .toggled #sidebar {
    margin-right: 0;
  }

  .modal-backdrop {
    display: none;
  }

  .toggled .modal-backdrop {
    display: block; 
    opacity: .5;
  }
  
  #sidebar .navbar-nav .nav-link:focus,
  #sidebar .navbar-nav .nav-link:hover {
      background-color: rgb(245, 248, 250);
  }
 
  
/*
    navbar 
*/
  #navbar-bottom .navbar-nav .nav-link:focus,
  #navbar-bottom .navbar-nav .nav-link:hover
  {
    color: rgb(29, 161, 242);
  }
  
  #navbar-bottom .navbar-nav .nav-link:focus svg,
  #navbar-bottom.navbar-nav .nav-link:hover svg {
      stroke-width: 2;
  }
  
  #navbar-bottom .navbar-nav .nav-link>span {
      border-radius: 100%;
      padding: 7px;
      display: inline-block;
  }
  
  #navbar-bottom .navbar-nav .nav-link:focus>span,
  #navbar-bottom .navbar-nav .nav-link:hover>span {
      background-color: rgba(29, 161, 242, 0.1);
  }